{% extends "base_generic.html" %}
{% load thumbnail %}
{% block content %}
  <h1>Book List</h1>
  {% thumbnail "https://dkstatics-public.digikala.com/digikala-products/3040433.jpg?x-oss-process=image/resize,m_lfit,h_600,w_600/quality,q_80" "1200x800" crop="99% top" as im %}
<img src="{{ im.url }}">
{% endthumbnail %}
  {% if book_list %}
  <ul>
    {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}       
{% endblock %}

